body{
  background-color: #FFCAB1
}
.fade-in{
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}
#welcome {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 20pt;
  letter-spacing: 1px;
  margin-left: 75%;
  margin-top: 5%;
}
p#chi {
  position: absolute;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  margin-top: 10%;
  color: white;
  font-size: 100pt;
  letter-spacing: 1px;
  margin-left: 57%;  
}
p#chi1 {
  position: absolute;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  margin-top: 7%;
  color: white;
  font-size: 100pt;
 letter-spacing: 1px;
  margin-left: 57%;  
} p#chi2 {
  position: absolute;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  margin-top: 3%;
  color: white;
  font-size: 100pt;
  letter-spacing: 1px;
  margin-left: 57%;  
}
p#chispace {
  position: absolute;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  margin-top: 17%;
  color: black;
  font-size: 100pt;
  letter-spacing: 1px;
  margin-left: 25.5%; 
  font-style: italic;
}
.nav {
  font-family: futura-pt,sans-serif;
  font-size: 20px;
  padding: 5px;
  font-weight: 700;
  margin-left: 10%;
  padding-top: %;
}
a {
  color: black;
  text-decoration: none;
  
}
a:hover {
  color: white;
  text-decoration: none;
}
a:active {
  color: #5B4B49;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=Rozha+One");
@import url("https://fonts.googleapis.com/css?family=Raleway|Rozha+One");
.projectSize {
  width: 33%;
  float: left;
  position: relative;
}
.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}
.project .item,
/* active on focus for accessibility tab navigation */ .project1 .item {
  padding: 10px;
}
.project .item img {
  padding: 0 !important;
  display: block;
  max-width: 100%;
  height: auto;
}
.project a:hover .item img,
.project a:focus .item img {
  opacity: 0.8;
}
.project h4,
.project p {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project a .item h4 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
}
.project a:hover .item h4,
.project a:focus .item h4 {
  opacity: 1;
}
.project a .item p {
  font-family: "Raleway", sans-serif;
  font-size: 8px;
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
}
.project a:hover .item p,
.project a:focus .item p {
  opacity: 1;
}
.project {
  margin-top: 35%;
  margin-left: 10%;
    margin-right: 15%;
}