body, html {
 background-color: white;
   font-family: futura,sans-serif;
  font-weight: 100;  
  font-size: 30px;
   height: 100%;
    margin: 0;
  color: black;
} 
div.bg p {
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  font-size: 50px;
   color: white;
  padding: 10px;
}
.bg {
    /* The image used */
    background-image: url("http://students.washington.edu/chitran4/capstone/images/work1.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  margin: 0px;
  postion: absolute;
}
.title {
  font-size: 100px;
  color: black;
}
.fade-in, .bg {
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}
h1{
  font-family: futura,sans-serif;
  font-weight: 300;  
  font-size: 70px;
  color: black ;
  position: relative;
 top: 150px;
}


.img{
  color: black;
  margin-bottom: 5%;
  margin-top: 12%;
  margin-right: 15%;
  position: relative;
  left: 300pt;
}
img{
  padding: 50px;
  text-align: center;
  width: 100%;
}

    .nav {
  font-family: futura-pt,sans-serif;
  font-size: 20px;
  padding: 5px;
  font-weight: 700;
      position: relative;
      top: 100px;
}
a {
  color: black;
  text-decoration: none;
  
}
a:hover {
  color: black;
  text-decoration: none;
}
a:active {
  color: #5B4B49;
  text-decoration: none;
}
.container{
  width: 80%;
}
.body{
  top: 300px;
  margin-top: 15%;
  margin-bottom: 10%;
}
.contacts p{
  
}
.chi {
  margin-top: 5%;
  font-size: 50px;
   position: -webkit-sticky; 
    position: sticky;
    top: 0;
  float: right;
}
@import url("https://fonts.googleapis.com/css?family=Rozha+One");
@import url("https://fonts.googleapis.com/css?family=Raleway|Rozha+One");

.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 5px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    
}
#return-to-top i {
    color:#B86F52;
    margin: 0;
    position: relative;
    left: 16px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    bottom: 10px;
}
h1{
  margin: 0px;
  text-align: center;
}
h2{
  font-size: 70px;
  font-style: italic;
  text-align: center;
  padding-top: 100px;
  color: white;
}


div.photos img{
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  
}

img:hover{
  opacity: 0.5;
}
.black{
  background-color: black;
  width: 100%;
}
.heading{
  text-align: center;
  padding-top: 50px;
  
}
a p {
color: white;
  font-size: 30px;
  font-family: avenir;
}
img:hover{
  transform: scale(1.25)
}